/* here we can difine all atibutes for page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Here is the color of page */
body {
    background-color: #d9dcd6;
}

/* Here we can define the top of page with the links to
top */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Here we difine the name of page e link to refresh page */
.headera1 {
    display: inline-block;
    font-size: 48px;
}

/* Here we can difine cararacter of links  */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Here we can difine sequence of topics links*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

/* Here we can difine style of topics links*/
a {
    color: #ffffff;
    text-decoration: none;
}


/* Here we can difine all style for image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* Here is the control style of content, 
one below one */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Here is the control style of content div, where is color
 background, font..... */
.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Here is the control location of text to left side of content
 the content div */
.content-float-left {
    float: left;
    margin-right: 25px;
}

/* Here is the control location of text to right side of content
 the content div */
.content-float-right {
    float: right;
    margin-left: 25px;
}

/* Here is the control height of image on
 the content div */
.content img {
    max-height: 200px;

}

/* Here is the control style of content h2..... */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Here is the control style of benefits */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Here is the control style of benefits div, where is   margin, color..... */
.benefits div {
    margin-bottom: 32px;
    color: #ffffff;

}

/* Here is the control style of content h3..... */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Here is the control position of image on
 the benefits div, margin and max-widht */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;

}

/* .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
 */
/* p {
    font-size: 16px;
} */
/*
    .header h1 .seo {
    color: #d9dcd6;
} */



/* 
.header div ul {
    list-style-type: none;
}
 */


/* .benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
} */



/* .benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */


/* .benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */



/*   .online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* 
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */


/*
 .online-reputation-management img {
    max-height: 200px;
} */

/*
  .social-media-marketing img {
    max-height: 200px;
}
 */


/* .online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
 */